<!-- about.j2 -->
{% extends "layout.j2" %}
    
{% block title %}{{ page }}{% endblock %}
    
{% block content %}
    <!-- Your specific content for the index page -->
    <div class="flex h-screen w-full justify-center items-center bg-slate-100">
        <h1 class="permanent-marker-regular text-5xl">about</h1>
    </div>
    <!-- Other content here -->
{% endblock %}
